﻿html, html a 
{
}

a, a:hover, a:focus { text-decoration:none;  }

a {
    color:#fff;
}

body { 
    background-color:#FFF;
     font-family: 'Cuprum', sans-serif;
    font-size: 12px; 
    color:#fff;
}

/* TEMİZLEME SATIR */

.satir::before, .satir::after {
    display: table;
    line-height: 0;
    content: "";
}

.satir::after {
clear: both;
}


.satir::before, .satir::after {
display: table;
line-height: 0;
content: "";
}

ul {
    list-style:none;
    /*margin:0;
    padding:0;*/
}

/* TEMİZLEME SATIR BITIR*/



/* MARGINLER */

.mt0 {margin-top:0px !important;}
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt150 {margin-top:150px !important;}

.mt5_ { margin-top:-5px !important; }
.mt10_ { margin-top:-10px !important; }
.mt15_ { margin-top:-15px !important; }
.mt20_ { margin-top:-20px !important; }
.mt25_ { margin-top:-25px !important; }
.mt30_ { margin-top:-30px !important; }
.mt35_ { margin-top:-35px !important; }
.mt40_ { margin-top:-40px !important; }
.mt45_ { margin-top:-45px !important; }
.mt50_ { margin-top:-50px !important; }
.mt55_ {margin-top:-55px !important;}
.mt60_ {margin-top:-60px !important;}
.mt65_ {margin-top:-65px !important;}
.mt70_{margin-top:-70px !important;}
.mt150_ {margin-top:-150px !important;}

.mb0 {margin-bottom:0px !important;}
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb65 {margin-bottom:65px !important;}
.mb70  {margin-bottom:70px !important;}
.mb150 {margin-bottom:150px !important;}

.mb5_ { margin-bottom:-5px !important; }
.mb10_ { margin-bottom:-10px !important; }
.mb15_ { margin-bottom:-15px !important; }
.mb20_ { margin-bottom:-20px !important; }
.mb25_ { margin-bottom:-25px !important; }
.mb30_ { margin-bottom:-30px !important; }
.mb35_ { margin-bottom:-35px !important; }
.mb40_ { margin-bottom:-40px !important; }
.mb45_ { margin-bottom:-45px !important; }
.mb50_ { margin-bottom:-50px !important; }
.mb55_ {margin-bottom:-55px !important;}
.mb60_ {margin-bottom:-60px !important;}
.mb65_ {margin-bottom:-65px !important;}
.mb70_  {margin-bottom:-70px !important;}
.mb150_ {margin-bottom:-150px !important;}


.ml0 {margin-left:0px !important;}
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml55 {margin-left:55px !important;}
.ml60 {margin-left:60px !important;}
.ml65 {margin-left:65px !important;}
.ml70 {margin-left:70px !important;}
.ml150 {margin-left:150px !important;}


.ml5_ { margin-left:-5px !important; }
.ml10_ { margin-left:-10px !important; }
.ml15_ { margin-left:-15px !important; }
.ml20_ { margin-left:-20px !important; }
.ml25_ { margin-left:-25px !important; }
.ml30_ { margin-left:-30px !important; }
.ml35_ { margin-left:-35px !important; }
.ml40_ { margin-left:-40px !important; }
.ml45_ { margin-left:-45px !important; }
.ml50_ { margin-left:-50px !important; }
.ml55_ {margin-left:-55px !important;}
.ml60_ {margin-left:-60px !important;}
.ml65_ {margin-left:-65px !important;}
.ml70_ {margin-left:-70px !important;}
.ml150_ {margin-left:-150px !important;}

.mr0 {margin-right:0px !important;}
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }
.mr55 { margin-right:55px !important; }
.mr60 { margin-right:60px !important; }
.mr65 { margin-right:65px !important; }
.mr70 { margin-right:70px !important; }
.mr150 {margin-right:150px !important;}

.mr5_ { margin-right:-5px !important; }
.mr10_ { margin-right:-10px !important; }
.mr15_ { margin-right:-15px !important; }
.mr20_ { margin-right:-20px !important; }
.mr25_ { margin-right:-25px !important; }
.mr30_ { margin-right:-30px !important; }
.mr35_ { margin-right:-35px !important; }
.mr40_ { margin-right:-40px !important; }
.mr45_ { margin-right:-45px !important; }
.mr50_ { margin-right:-50px !important; }
.mr55_ { margin-right:-55px !important; }
.mr60_ { margin-right:-60px !important; }
.mr65_ { margin-right:-65px !important; }
.mr70_ { margin-right:-70px !important; }
.mr150_ {margin-right:150px !important;}

/* MARGINLER BITIR */







/* TEXTBOX TEMIZLEME */

.arama textarea,.arama  input[type="text"],.arama  input[type="password"],.arama  input[type="datetime"],.arama  input[type="datetime-local"],.arama  input[type="date"],.arama  input[type="month"],.arama  input[type="time"],.arama  input[type="week"],.arama  input[type="number"],.arama  input[type="email"],.arama  input[type="url"],.arama  input[type="search"],.arama  input[type="tel"],.arama  input[type="color"],.arama  .uneditable-input 
{
    background-color: #ffffff;
    border: 0px solid #cccccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.000);
    -webkit-transition: border linear 0.0s, box-shadow linear 0.0s;
    -moz-transition: border linear 0.0s, box-shadow linear 0.0s;
    -o-transition: border linear 0.0s, box-shadow linear 0.0s;
    transition: border linear 0.0s, box-shadow linear 0.0s;
}

.arama { margin-right:-4px; }

.inputarama {
    background: url('/assets/img/inputbg.jpg') no-repeat;
    font-size: 10px;
    color: #FF0000;
    border: 0px solid #fff;
    padding: 0;
    padding-left: 0px;
    width:135px;
    height:28px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 10px 0 0 -2px;

    }

/* TEXTBOX TEMIZLEME BITIR */


.font1 {
    font-family: 'Fondamento', cursive;
}

.font2 {
    font-family: 'Cuprum', sans-serif;
}

.masterhead {
    height:180px;
    background-image:url(/assets/img/sol-golge.png);
    background-position:left;
    background-repeat:repeat-y;

}

.logo-img {
    margin-top:30px;
    margin-left:70px;
}
.header-yazi {
    margin-top:95px;
    width:570px;
}

    .header-yazi P {
    color:#00669D;
    font-family: 'Fondamento', cursive;
    font-style:italic;
    letter-spacing:0px;
    font-size:14px;
    font-weight:bold;
    line-height:15px;
    margin: 20px 10px 20px 10px;
    text-align:center;
    vertical-align:middle;
   
    }

.masterhead-orta img {
    /*margin:50px auto auto 20px;*/
}

.masterhead-sag {
    background-image:url(/assets/img/sag-golge.png);
    background-position:right;
    background-repeat:repeat-y;
    height:180px;
}
.ust-menu {
height:65px;
width:284px;
background-image:url(/assets/img/ust-menu.png);
    background-position:top left;
    background-repeat:no-repeat;
    margin-left:16px;
    margin-top:23px;

}

    .ust-menu ul {
    font-size:20px;
    font-weight:bold;
    list-style:none;
    padding:0;
    margin: 0 auto auto 0;
    }

        .ust-menu ul li{
            display:inline-block;
            margin-top:5px;
        }

            .ust-menu ul li:first-child {
            margin-left:26px;
            }
            .ust-menu ul li:nth-child(2) {
            margin-left:102px;
            }



.fb {
margin-left:500px;
}
.tw {
margin-left:0px;
}

.menu-serit-sol {
    height:71px;
    background-image:url(/assets/img/menu-serit-sol.png);
    background-position:top left;
    background-repeat:no-repeat;
}

.menu-serit-sag {
    height:71px;
    background-image:url(/assets/img/menu-serit-sag.png);
    background-position:top right;
    background-repeat:no-repeat;
    
}

.menu-serit-orta {
    height:71px;
    background-image:url(/assets/img/menu-serit-orta.png);
    background-position:top left;
    background-repeat:repeat-x;
    margin-left:0!important;
    width:740px;
}

ul.ana-menu {
    list-style:none;
}

    ul.ana-menu li {
    display:inline-block;
    line-height:27px;
    font-size:20px;
    font-weight:bold;
    margin-left:17px;
    margin-top:18px;
    }

.footer {
    background-image:url('/assets/img/footer-full3.png');
    background-position-x:center;
    background-repeat:no-repeat;
    background-position-y:top;
    position:relative;
    margin-top:-15px;
    z-index:100;
}





.footer-ana-liste {
    margin-left:45px;
    list-style:none;
}

.footer-ana-liste li:first-child{
    font-size:25px;
    font-weight:bold;
    line-height:35px;
    margin-top:16px;
}

    .footer-ana-liste li:nth-child(2) {
    font-size:18px;
    line-height:20px;
    margin-top:10px;
    }

    .footer-ana-liste li:nth-child(3) {
    margin-top:30px;
    }

.footer-iletisim {

}

.crt {
color:#858585;
font-family:Arial;
font-size:11px;
margin-left:35px;
}

.golge
{
-webkit-box-shadow: 10px 0px 5px -3px rgb(119, 116, 116), -10px 0px 5px -3px rgb(119, 116, 116);
-moz-box-shadow: 10px 0px 5px -3px rgb(119, 116, 116), -10px 0px 5px -3px rgb(119, 116, 116);
box-shadow: 10px 0px 5px -3px rgb(119, 116, 116), -10px 0px 5px -3px rgb(119, 116, 116);
}

.default-cont {
margin-left:33px;
margin-right:11px;
padding-bottom:35px;
}

.default-bg {
background-image:url('/assets/img/default-bg.png');
background-repeat:repeat-y;
}

.galeri {
    list-style:none;
    padding:0;
    margin:0;
}

    .galeri li {
     margin-left:4px;
     display:inline-block;
     margin-top:16px;
    }

        .galeri li:first-child {
        margin-left:7px;
        }

.galeri-img {
height:90px !important;
width:120px;
}



.icsayfa-serit {
    padding:7px 23px 7px 25px;
    background-color:rgba(0,173,238,0.60);

}

    .icsayfa-serit p {
            color:#00689D;
            font-size:28px;
            line-height:35px;
            margin:0;
    }

.ic-govde
{
    color:#00669D;
    font-weight:bold;
    font-size:16px;
    padding:7px 23px 7px 25px;
}

    .ic-govde strong {
        font-size:22px;
    }

.projeler-cont {
    width:200px;
    margin-left:41px;
    margin-right:41px;
    margin-top:35px;
    float:left;
    min-height:350px;
}
.prj-kapak-image {
    height:150px !important;
    width:200px;
    margin:0;
    padding:0;
}

.prj-kapak-image-bottom {
    margin-top:-18px;
} 
.prj-baslik {
    color:#00679D;
    font-size:18px;
    text-align:center;
    vertical-align:central;
    padding:6px 10px 6px 10px;
}

.ic-govde h3 *{
    font-size:22px;
}

.resimler-bg {
    margin:0 !important;
    padding:25px 36px 25px 36px;
    float:left;
    width:350px;
    float:left;
}

.proje-image {
    height:260px !important;
    width:350px;
}

.prj-resim-kapak-image-bottom {
width:350px !important;
margin-top:-15px;
width:4px;
}


.table-kariyer {
    color:#00689D;
    font-family:'Cuprum', sans-serif;
    font-weight:bold;
    font-size:14px;
}

    .table-kariyer tbody tr:hover > td {
 background-color: rgba(0,174,238,0.10);
    }

.bg-co-tr1 {
background-color:rgba(0,104,157,0.30);

}


.bg-co-tr2 {
background-color:rgba(0,174,238,0.10);
}

.table-kariyer input[type="text"],textarea {
font-family:'Cuprum', sans-serif;
margin-bottom:5px;
margin-top:5px;
color:#333333;
font-size:13px;
font-weight:normal;
border:solid 1px #333333;
}

input[type="submit"] {
    font-family:'Cuprum', sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#00689D;
    padding:5px 25px 5px 25px;

}

.haber-baslik {
    font-size:22px;
    font-weight:bold;
    margin-top:15px;
}

.haber-icerik {
    margin-left:15px;
    color:rgb(119, 116, 116);
}

.baslik {
    color:#005580;
    font-size:20px;
}

.prjBaslik {
color:#005580;
}

.baslik:hover {
    color:#fff;
}
.prjBaslik:hover {
    color:#fff !important;
}

.baslikSpan {
    color:#005580;
    font-size:20px;
}

.table-katalog *{
    color:rgb(119, 116, 116);
}

.maviclass {width:95% !important;}
.maviclass td {font-family: 'Cuprum', sans-serif;font-size:17px !important;}
.maviclass tr:nth-child(odd) {background-color:#B2D1E1 !important;}
.ozelliklerr td {float:left !important; margin-right:10px;width:150px !important;}

/*detayslider*/

