﻿.page-header { margin-top:0; }


.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left:0;
    margin-right:20px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

footer { padding-top:15px; border-top:1px solid #CCC; }
table input, table select { margin-bottom:0; }

h5 { padding:15px 20px;  margin-bottom:10px; font-size:16px; background:#333; color:#CCC; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }

.mtust { margin-top:60px; }

input[type="text"] {
margin-bottom:0;
}