﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="hakkimizda.aspx.cs" Inherits="mavi_yapi.hakkimizda" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="icsayfa-serit">
        <p>HAKKIMIZDA</p>
    </div>
    <div class="ic-govde">
        <asp:Literal Text="" ID="ltrHakkimizda" runat="server" />
    </div>

</asp:Content>
