﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="katalog.aspx.cs" Inherits="mavi_yapi.katalog" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="icsayfa-serit">
        <p>KATALOG</p>
    </div>
    <div class="ic-govde mt20">
        <%--<iframe src="uploads/katalog/mypdf.pdf" class="span10" style="height: 600px;"></iframe>--%>
        <asp:Literal Text="" ID="ltrPdfViewer" runat="server" />

    </div>
</asp:Content>
