﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="pdfGosterici.aspx.cs" Inherits="mavi_yapi.pdfGosterici" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="icsayfa-serit">
        <p>KATALOG</p>
    </div>
    <div class="ic-govde mt20">
       
    </div>
</asp:Content>
