﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="mavi_yapi.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Mavi Yapı</title>
    <meta name="description" content="playback" />
    <meta name="keywords" content="playback" />
    <meta name="author" content="http://www.playback.com.tr" />

    <!-- CSS DOSYALARI -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/application.css" rel="stylesheet" />

    <!-- JS DOSYALARI -->
    <script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>

    <!-- PLUGIN DOSYALARI -->
    <link href="/assets/plugins/prettyPhoto_3.1.4/prettyPhoto.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/plugins/prettyPhoto_3.1.4/jquery.prettyPhoto.js"></script>


    <!-- FONT EKLENTİ DOSYALARI -->
    <link href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fondamento:400italic,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- MENÜ CSS -->
    <link href="/assets/css/menu.css" rel="stylesheet" />

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42637659-1', 'shmaviyapi.com');
        ga('send', 'pageview');

</script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <div class="row">
                <div class="span3 masterhead">

                    <a href="/Anasayfa">
                        <img src="/assets/img/logo.png" class="logo-img" /></a>
                </div>
                <div class="span5 masterhead-orta">
<div class="header-yazi">
    <img src="/assets/img/ust_yazi.jpg" style="margin-top:-15px;" />
                        <%--<p>Küçük ya da büyük ayırt etmeksizin,az ya da çok kazanma kaygısı taşımadan her aşamada, her ayrıntıda farkımızı ortaya koyuyoruz. </p>--%>
                    </div>
                </div>
                <div class="span4 masterhead-sag">
                    <div class="ust-menu">
                        <ul>
                            <li><a href="/Projeler/Konut-Taahhut/1">KONUT</a></li>
                            <li><a href="/Projeler/Konut-Taahhut/2">TAAHHÜT</a></li>
                        </ul>

                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="span2 menu-serit-sol">
                </div>

                <div class="span9 menu-serit-orta">

                    <div id='cssmenu'>
                        <ul>
                            <li><a href='/Hakkimizda'><span>HAKKIMIZDA</span></a></li>
                            <li class='has-sub'><a href='javascript:void()'><span>PROJELERİMİZ</span></a>
                                <ul>
                                    <li class='has-sub '><a href='/Projeler/Konut-Taahhut/1'><span>KONUT</span></a>
                                        <ul>
                                            <li><a href='/Projeler/Konut-Taahhut/Tamam-Devam/1/false'><span>Devam Eden Projeler</span></a></li>
                                            <li><a href='/Projeler/Konut-Taahhut/Tamam-Devam/1/true'><span>Tamamlanan Projeler</span></a></li>
                                        </ul>
                                    </li>
                                    <li class='has-sub '><a href='/Projeler/Konut-Taahhut/2'><span>TAAHHÜT</span></a>
                                        <ul>
                                            <li><a href='/Projeler/Konut-Taahhut/Tamam-Devam/2/false'><span>Devam Eden Projeler</span></a></li>
                                            <li><a href='/Projeler/Konut-Taahhut/Tamam-Devam/2/true'><span>Tamamlanan Projeler</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href='/Kataloglar'><span>E-KATALOG</span></a></li>
                            <li><a href='/Kariyer'><span>KARİYER</span></a></li>
                            <li class='has-sub '><a href='javascript:void()'><span>FORMLAR</span></a>
                                 <ul>
                                    <li class='has-sub '><a href='/Formlar/Talep-formu'><span>Konut Ön Talep Formu</span></a></li>
                                    <li class='has-sub '><a href='/Formlar/Takas-formu'><span>Arsa Karşılığı Konut Talep Formu</span></a></li>
                                </ul>
                            </li>
                            <li ><a href='/Iletisim'><span>İLETİŞİM</span></a> </li>
                            

                        </ul>
                    </div>
                </div>
                <div class="span1 menu-serit-sag" style="margin-left: 0px !important;">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12 default-bg">
                    <div class="default-cont">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span12 footer-ust">
                        <ul class="footer-ana-liste">
                            <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
                            <li><a href="/Hakkimizda">Uzun yıllar Kamu idareleri ve Toplu Konut İdaresi (TOKİ) çalışmalarının ardından, sektöre yeni bir anlayış ve yön
                                <br />
                                kazandırmak için 2009 yılında iki İnşaat Yüksek Mühendisi tarafından kuruldu Mavi Yapı.</a>  </li>
                            <li>
                                <div>
                                    <img src="/assets/img/iletisim.png" style="margin-bottom: 8px;" />
                                    <a href="#">
                                        <img class="fb" src="/assets/img/facebook.png" /></a>
                                    <a href="#">
                                        <img class="tw" src="/assets/img/twitter.png" /></a>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 mt10">
                        <p class="crt">Copyright © 2013, SH Mavi Yapı - İnşaat Taahhüt San. Tic. Ltd. Şti.</p>
                    </div>
                    <div class="span2 offset4 mt10">
                        <a class="pull-right mr10" target="_blank" href="http://www.playback.com.tr">
                            <img src="/assets/img/playback.png" /></a>
                    </div>

                </div>
            </div>
        </div>

    </form>
</body>
</html>
